
.badge-text {
    padding: 10px;
    border: 1px solid transparent;
    width: max-content;
    border-radius: 50px;
    margin-top: 10px;
    font-size: 0.65rem;
    font-weight: 700;
}

.intermediario {
    background-color: var(--bg-badge-intermediario);
    border-color: var(--stroke-badge-intermediario);
    color: var(--color-badge-intermediario);
}

.avancado {
    background-color: var(--bg-badge-avancado);
    border-color: var(--stroke-badge-avancado);
    color: var(--color-badge-avancado);
}

.basico {
    background-color: var(--bg-badge-basico);
    border-color: var(--stroke-badge-basico);
    color: var(--color-badge-basico);
}

.default {
    background-color: var(--bg-badge-default);
    color: var(--color-badge-default);
    font-size: 0.75rem;
    min-width: 55px;
    padding: 5px 10px;
    text-align: center;
    transition: background-color 0.1s ease-in-out;
}

.default:hover {
    background-color: var(--bg-badge-default-hover);
}