
.main-container {
    background-color: var(--bg-main);
    margin: 210px 20px 80px;
    border-radius: 5px;
    padding: 30px 0;
    max-width: 1054px;
}

.introduction-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0 30px
}

.introduction-section img {
    width: 100%;
    height: 100%;
    max-width: 270px;
    max-height: 325px;
    object-fit: cover;
    border-radius: 5px;
}

.introduction-section h1 {
    align-self: flex-start;
}

.introduction-section h1 span {
    color: transparent;
    background: var(--bg-introduction-title);
    background-clip: text;
    -webkit-background-clip: text;
}

.introduction-section p {
    color: var(--color-introduction-text);
    font-weight: 500;
    font-size: 0.75rem;
}

.skills-section {
    margin-top: 40px;
    padding: 50px 30px;
    background-color: var(--bg-skills-section);
}

.skills-section-content .skills-text {
    margin-top: 50px;
    color: var(--color-skills-text);
    font-weight: 500;
    font-size: 0.75rem;
}

.skills-section-content .skills-cards, .projects-section-content .projects-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 50px;
}

.skills-section-content .language-title {
    font-size: 0.9375rem;
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
}

.skills-section-content .languages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.projects-section {
    padding: 50px 30px;
}

.projects-section-content {
    display: flex;
    flex-direction: column;
}

.projects-section-content .projects-text {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--color-projects-text);
    margin-top: 50px;
}

.projects-section-content .direct-github {
    display: flex;
    margin-top: 50px;
    padding: 10px;
    background-color: var(--bg-github-button);
    color: var(--color-github-button-text);
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 700;
    border-radius: 10px;
    align-items: center;
    align-self: center;
}

.direct-github::before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url("src/assets/images/githubWhite.svg");
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
}

.contacts-section {
    padding: 50px 30px;
}

.contacts-card {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
}