@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {

  --bg-main: #ffffff;
  --border-section-title: linear-gradient(180deg, rgba(29, 93, 199, 1), rgba(17, 56, 120, 1));

  --bg-navbar: #ffffff;
  --bf-navbar-list: #ffffff;
  --border-navbar-list: rgba(29, 93, 199, 1);
  --bg-navbar-title: linear-gradient(180deg, rgba(29, 93, 199, 1), rgba(17, 56, 120, 1));
  --color-navbar-items: #3F3F3F;
  --border-menu-hamburger: rgba(29, 93, 199, 1);
  --border-navbar-list-hover: rgba(29, 93, 199, 1);
  --color-scrolled-menu-hamburger: rgba(29, 93, 199, 1);
  --color-navbar-list-scrolled: rgba(29, 93, 199, 1);
  --color-navbar-list-hover: rgba(29, 93, 199, 1);

  --bg-introduction-title: linear-gradient(180deg, rgba(29, 93, 199, 1), rgba(17, 56, 120, 1));
  --color-introduction-text: #3F3F3F;

  --bg-skills-section: #F7F7F7;
  --color-skills-text: #3F3F3F;
  --bg-skills-card: #FFFFFF;

  --bg-projects-card: #FFFFFF;
  --color-projects-text: #3F3F3F;
  --color-projects-link: rgba(29, 93, 199, 1);
  --bg-github-button: #000000;
  --bg-github-button-hover: transparent;
  --color-github-button-text: #FFFFFF;
  --color-github-button-text-hover: #000000;
  --border-github-button-hover: #000000;

  --bg-contact-icon: linear-gradient(-45deg, rgba(29, 93, 199, 1), rgba(17, 56, 120, 1));
  --bg-contact-text: rgba(29, 93, 199, 1);

  --bg-footer-container: #111827;
  --color-footer-title: #FFFFFF;
  --color-footer-text: #BDBDBD;

  /* Badges Status Color - Start*/

  --bg-badge-aprendendo: #FFF4B0;
  --stroke-badge-aprendendo: #CFB300;
  --color-badge-aprendendo: #7B6B00;

  --bg-badge-confortavel: #D4FFCE;
  --stroke-badge-confortavel: #57D946;
  --color-badge-confortavel: #108C00;

  --bg-badge-familiar: #EDD8FF;
  --stroke-badge-familiar: #7E22CE;
  --color-badge-familiar: #7E22CE;

  --bg-badge-default: #CDE3FF;
  --bg-badge-default-hover: #c0d5ef;
  --color-badge-default: #0052BD;

  /* Badges Status Color - End*/
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  min-height: 100vh;
  background: linear-gradient(-45deg, #2571e6, rgb(0, 0, 0) 80%);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite alternate;
}